<header class="top">
  <div class="logo">
    <img src="/images/travlr_logo.png" alt="Travlr Getaways" style="height:48px;">
  </div>
  <nav class="nav">
    <a href="/">HOME</a>
    <a href="/travel">TRAVEL</a>
    <a href="/rooms.html">ROOMS</a>
    <a href="/meals.html">MEALS</a>
    <a href="/news.html">NEWS</a>
    <a href="/about.html">ABOUT</a>
    <a href="/contact.html">CONTACT</a>
  </nav>
</header>
