<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}} | Travlr Getaways</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> header}}
  <main class="content">
    {{{body}}}
  </main>
  {{> footer year=year}}
</body>
</html>
